@font-face {
  font-family: 'Boston Bold It';
  src: url('../../../fonts/Boston-BoldIt.eot');
  src: url('../../../fonts/Boston-BoldIt.eot?#iefix') format('embedded-opentype'),
  url('../../../fonts/Boston-BoldIt.woff2') format('woff2'),
  url('../../../fonts/Boston-BoldIt.woff') format('woff'),
  url('../../../fonts/Boston-BoldIt.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'BostonBlack';
  src: url('../../../fonts/Boston-Black.eot');
  src: url('../../../fonts/Boston-Black.eot?#iefix') format('embedded-opentype'),
  url('../../../fonts/Boston-Black.woff2') format('woff2'),
  url('../../../fonts/Boston-Black.woff') format('woff'),
  url('../../../fonts/Boston-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Boston ExtraLight It';
  src: url('../../../fonts/Boston-ExtraLightIt.eot');
  src: url('../../../fonts/Boston-ExtraLightIt.eot?#iefix') format('embedded-opentype'),
  url('../../../fonts/Boston-ExtraLightIt.woff2') format('woff2'),
  url('../../../fonts/Boston-ExtraLightIt.woff') format('woff'),
  url('../../../fonts/Boston-ExtraLightIt.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Boston Heavy It';
  src: url('../../../fonts/Boston-HeavyIt.eot');
  src: url('../../../fonts/Boston-HeavyIt.eot?#iefix') format('embedded-opentype'),
  url('../../../fonts/Boston-HeavyIt.woff2') format('woff2'),
  url('../../../fonts/Boston-HeavyIt.woff') format('woff'),
  url('../../../fonts/Boston-HeavyIt.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'BostonBold';
  src: url('../../../fonts/Boston-Bold.eot');
  src: url('../../../fonts/Boston-Bold.eot?#iefix') format('embedded-opentype'),
  url('../../../fonts/Boston-Bold.woff2') format('woff2'),
  url('../../../fonts/Boston-Bold.woff') format('woff'),
  url('../../../fonts/Boston-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BostonExtraLight';
  src: url('../../../fonts/Boston-ExtraLight.eot');
  src: url('../../../fonts/Boston-ExtraLight.eot?#iefix') format('embedded-opentype'),
  url('../../../fonts/Boston-ExtraLight.woff2') format('woff2'),
  url('../../../fonts/Boston-ExtraLight.woff') format('woff'),
  url('../../../fonts/Boston-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BostonHeavy';
  src: url('../../../fonts/Boston-Heavy.eot');
  src: url('../../../fonts/Boston-Heavy.eot?#iefix') format('embedded-opentype'),
  url('../../../fonts/Boston-Heavy.woff2') format('woff2'),
  url('../../../fonts/Boston-Heavy.woff') format('woff'),
  url('../../../fonts/Boston-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Boston Black It';
  src: url('../../../fonts/Boston-BlackIt.eot');
  src: url('../../../fonts/Boston-BlackIt.eot?#iefix') format('embedded-opentype'),
  url('../../../fonts/Boston-BlackIt.woff2') format('woff2'),
  url('../../../fonts/Boston-BlackIt.woff') format('woff'),
  url('../../../fonts/Boston-BlackIt.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'BostonLight';
  src: url('../../../fonts/Boston-Light.eot');
  src: url('../../../fonts/Boston-Light.eot?#iefix') format('embedded-opentype'),
  url('../../../fonts/Boston-Light.woff2') format('woff2'),
  url('../../../fonts/Boston-Light.woff') format('woff'),
  url('../../../fonts/Boston-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Boston Thin It';
  src: url('../../../fonts/Boston-ThinIt.eot');
  src: url('../../../fonts/Boston-ThinIt.eot?#iefix') format('embedded-opentype'),
  url('../../../fonts/Boston-ThinIt.woff2') format('woff2'),
  url('../../../fonts/Boston-ThinIt.woff') format('woff'),
  url('../../../fonts/Boston-ThinIt.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}



@font-face {
  font-family: 'Boston Light It';
  src: url('../../../fonts/Boston-LightIt.eot');
  src: url('../../../fonts/Boston-LightIt.eot?#iefix') format('embedded-opentype'),
  url('../../../fonts/Boston-LightIt.woff2') format('woff2'),
  url('../../../fonts/Boston-LightIt.woff') format('woff'),
  url('../../../fonts/Boston-LightIt.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Boston It';
  src: url('../../../fonts/Boston-RegularIt.eot');
  src: url('../../../fonts/Boston-RegularIt.eot?#iefix') format('embedded-opentype'),
  url('../../../fonts/Boston-RegularIt.woff2') format('woff2'),
  url('../../../fonts/Boston-RegularIt.woff') format('woff'),
  url('../../../fonts/Boston-RegularIt.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Boston Thin';
  src: url('../../../fonts/Boston-Thin.eot');
  src: url('../../../fonts/Boston-Thin.eot?#iefix') format('embedded-opentype'),
  url('../../../fonts/Boston-Thin.woff2') format('woff2'),
  url('../../../fonts/Boston-Thin.woff') format('woff'),
  url('../../../fonts/Boston-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Boston SemiBold It';
  src: url('../../../fonts/Boston-SemiBoldIt.eot');
  src: url('../../../fonts/Boston-SemiBoldIt.eot?#iefix') format('embedded-opentype'),
  url('../../../fonts/Boston-SemiBoldIt.woff2') format('woff2'),
  url('../../../fonts/Boston-SemiBoldIt.woff') format('woff'),
  url('../../../fonts/Boston-SemiBoldIt.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'BostonRegular';
  src: url('../../../fonts/Boston-Regular.eot');
  src: url('../../../fonts/Boston-Regular.eot?#iefix') format('embedded-opentype'),
  url('../../../fonts/Boston-Regular.woff2') format('woff2'),
  url('../../../fonts/Boston-Regular.woff') format('woff'),
  url('../../../fonts/Boston-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Boston';
  src: url('../../../fonts/Boston-Regular.eot');
  src: url('../../../fonts/Boston-Regular.eot?#iefix') format('embedded-opentype'),
  url('../../../fonts/Boston-Regular.woff2') format('woff2'),
  url('../../../fonts/Boston-Regular.woff') format('woff'),
  url('../../../fonts/Boston-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'BostonSemiBold';
  src: url('../../../fonts/Boston-SemiBold.eot');
  src: url('../../../fonts/Boston-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../../../fonts/Boston-SemiBold.woff2') format('woff2'),
  url('../../../fonts/Boston-SemiBold.woff') format('woff'),
  url('../../../fonts/Boston-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}