.modals {
  display: none;
}
.modal {
  padding: 3.2rem;
  border-radius: 1.6rem;
  background: #FFF;
  width: 100%;
  max-width: 63.4rem;
  @media (max-width: 600px) {
    padding: 3.2rem 2rem;
  }
  &__text {
    &:not(:last-child) {
      margin-bottom: 2.4rem;
    }
  }

  &__title {
    &:not(:last-child) {
      margin-bottom: 1.6rem;
    }

    color: #000;
    font-family: 'BostonSemiBold', serif;
    font-size: 4.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 116%;
    @media (max-width: 600px) {
      font-size: 3rem;
    }
  }
}