.breadcrumbs{
  display: flex;
  color: #60B9DB;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 165%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  @media (max-width: 1200px) {
    width: 100%;
    justify-content: center;
  }
  @media (max-width: 767px) {
    justify-content: start;
  }
  a{
    display: inline-flex;
    color: #fff;

    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 165%;
    &:hover{
      color: #60B9DB;
    }
    span{
      display: inline-block;
      margin-left: 0.8rem;
      margin-right: 0.8rem;
      color: #60B9DB;
    }
  }
  &--inner{
    color: #146C8F;
    @media (max-width: 1200px) {

      justify-content: flex-start;
    }
    a {
      color: #000;
    }
  }
}