.products{
  &-slider{
    &-item{

      width: 98%;
      max-width: 50.4rem;
      margin: 0 auto;
      &__title{
        display: block;
        color: #000;
        font-size: 2rem;
        font-style: normal;
        font-weight: 600;
        line-height: 121%;
        &:not(:last-child) {
          margin-bottom: 1.6rem;
        }
      }
      &:hover{
        .products-slider-item__title{
          color: #146C8F;
        }
        .products-slider-item__image img{
          transform: scale(1.1);
        }
      }
      &__image{
        display: flex;
        height: 51.6rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 3.2rem;
        border-radius: 1.6rem;
        background: rgba(96, 185, 219, 0.16);
        @media (max-width: 1023px) {
          height: 40rem;
          padding: 2rem;
        }
        @media (max-width: 400px) {
          height: 35rem;
        }
        &:not(:last-child) {
          margin-bottom: 2.4rem;
          @media (max-width: 450px) {
            margin-bottom: 1.4rem;
          }
        }
        img{
          transition: 0.4s ease-in-out;
        }
        &:hover{

        }
      }
    }
  }
  &-section{
    &-banner{
      display: flex;
      justify-content: space-between;
      gap: 2rem;
      padding: 4rem 8rem 0;
      @media (max-width: 1200px) {
        padding: 2rem 2rem 0;
      }
      @media (max-width: 900px) {
        flex-direction: column;
        align-items: center;
      }
      border-radius: 1.6rem;
      background-color: rgba(96, 185, 219, 0.16);
      background-repeat: no-repeat;
      background-position: top center;
      &:not(:last-child){
        margin-bottom: 5.6rem;
      }
      &-content{
        padding-top: 4rem;
        padding-bottom: 2rem;
        width: 100%;
        max-width: 64rem;


        @media (max-width: 900px) {
          padding-top: 0;
          padding-bottom: 0;
          max-width: 100%;
          text-align: center;
        }
      }
      &__text{
        &:not(:last-child){
          margin-bottom: 4rem;
        }
      }
      &__title{
        margin-bottom: 2.4rem;
        color:  #000;
        font-family: 'BostonSemiBold', serif;
        font-size: 3rem;
        font-style: normal;
        font-weight: 600;
        line-height: 119%;
      }
      &__image{
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        width: 63rem;
        height: 35.4rem;
        flex-grow: 0; flex-shrink: 0;
        @media (max-width: 1024px) {
          margin-top: auto;
          width: 50.4rem;
          height: 28.32rem;
        }
        @media (max-width: 570px) {
          width: 25.2rem;
          height: 14.16rem;
        }
      }
    }
  }
  &-list{
    display: flex;
    flex-wrap: wrap;
    gap: 5.6rem 1.6rem;
    @media (max-width: 600px) {
      gap: 2rem;
    }
    & > *{
      max-width: calc(33.3% - 1.1rem);
      @media (max-width: 1024px) {
        max-width: calc(50% - 0.8rem);
      }
      @media (max-width: 600px) {
        max-width: 50.4rem;
      }
    }
  }
}